<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MenuListApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="items" @onclick="()=>expandItemsCat = !expandItemsCat">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Items
            </NavLink>
            @if (expandItemsCat)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="itemsCategories">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Items Categories
                    </NavLink>
                </div>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ingredients" @onclick="()=>expandIngredientsCat = !expandIngredientsCat">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ingredients
            </NavLink>
            @if (expandIngredientsCat)
            {
                <div class="nav-item px-6">
                    <NavLink class="nav-link" href="ingredientsCategories">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Ingredients Categories
                    </NavLink>
                </div>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="plates" @onclick="()=>expandPlatesCat = !expandPlatesCat">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Plates
            </NavLink>
            @if (expandPlatesCat)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="platesCategories">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Plates Categories
                    </NavLink>
                </div>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="menu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Menu
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandItemsCat;
    private bool expandIngredientsCat;
    private bool expandPlatesCat;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
